<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.dscs.tools">
`<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
`<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".imageselecttools.CropImageActivity"
            android:label="裁剪图片"/>
        <activity android:name=".imageselecttools.MultiImageSelectorActivity"
            android:label="图片选择"/>
    </application>

</manifest>
